<%= form_with(model: @post, local: true ,url: confirm_posts_path ) do |form| %>
<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2>入力内容にエラーがあります</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="post_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "Tweets一覧画面にもどる", posts_path %>